header {
    background-color: #222222;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

main {
    margin-top: 20px;
}

main section {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

footer {
    background-color: #222222;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer p {
    margin-bottom: 10px;
}