.main {
    background-color: aqua;
}

.main.border-div {
    background-color: red;
    border-style: dotted;
}

.border-div {
    border-style: solid !important;
}


.main p {
    font-size: 35px;
}