
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

body {
    font-family: Michroma, serif;
}

.nav-link {
    color: #99b9ad;
}

.navbar-nav .nav-link.active {
    color: #d2c5c5;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: #5b37ad;
}

.btn-outline-success {
    background-color: #e6f8e6;
}

.sidebar{
    color: black;
    background: radial-gradient(#faefae 1%, #a2a079 100%);
    box-shadow: 0 0 13px 3px #050505;
}


.card-img-top {
    max-width: 500px; /* Максимальная ширина контейнера */
    max-height: 200px; /* Максимальная высота контейнера */
    object-fit: cover; /* Скрывает содержимое, которое выходит за пределы контейнера */
}

.card {
    background: radial-gradient(#faefae 1%, #a2a079 100%);
}
