.navbar {
    display: flex;
    background-color: #181717;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: #3f3c3c;
}

.nav-btn {
    display: none;
}

@media (max-width: 990px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 7px;
        padding-bottom: 2px;
        border: none;
        background-color: #181717;
        color: white;
        display: block;
        cursor: pointer;
    }

    .nav-btn:hover {
        background-color: #3f3c3c
    }

    .nav-list {
        display: none;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: #181717;

    }
    .navbar {
        justify-content: space-between;
    }
}